<form #form="ngForm" (submit)="onSubmit(form)">
  <div *ngIf="error" class="alert"
       [ngClass]="{
       'alert-danger': error !== 'Login Successfull!',
       'alert-success': error === 'Login Successfull!'
       }"
       role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{ error }}
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="email" ngModel name="username" class="form-control" id="exampleInputEmail1" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" ngModel name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button (click)="onClickSubmit()" [disabled]="pending" type="submit" class="btn btn-default">Login</button>
</form>
