<h4>Friends</h4>
<div class="list-group -friends">
  <button type="button" class="list-group-item">Cras justo odio</button>
  <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
  <button type="button" class="list-group-item">Morbi leo risus</button>
  <button type="button" class="list-group-item">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item">Vestibulum at eros</button>
</div>
<div class="alert"
     role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  You have no firends at the moment
</div>
<h4>Others</h4>
<div class="list-group">
  <button type="button" class="list-group-item" *ngFor="let person of people">{{ person.username }}</button>
</div>
<div class="alert" *ngIf="!people.length"
     role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  0 other person
</div>
