<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MyFabook</a>
    </div>
    <ul class="nav navbar-nav">
      <ng-container *ngIf="!(0 | isAuth: '')">
        <li routerLinkActive="d-none" [routerLinkActiveOptions]="{ exact:true }"><a routerLink="/">Login</a></li>
        <li routerLinkActive="d-none"><a routerLink="/register">Register</a></li>
      </ng-container>
      <ng-container *ngIf="0 | isAuth: ''">
        <li><a>Welcome {{ 0 | isAuth: 'username' }}</a></li>
        <li routerLinkActive="active"><a routerLink="/in/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/in/people">People</a></li>
        <li routerLinkActive="active"><a routerLink="/logout">Logout</a></li>
      </ng-container>
    </ul>
  </div>
</nav>

<div class="container">
  <app-register-form *ngIf="viewParams?.register"
    (submitEE)="onSubmit($event)"
  ></app-register-form>
  <app-login-form *ngIf="viewParams?.login"
    (submitEE)="onSubmit($event)"
  ></app-login-form>
  <app-home-page *ngIf="viewParams?.homePage"></app-home-page>
  <app-people-page *ngIf="viewParams?.peoplePage"></app-people-page>
</div>
