/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

.file-input {
  display: none;
}

.d-none {
  display: none !important;
}

.-friends {
  a.list-group-item, button.list-group-item {
    background-color: #a7d6ec;
  }
}
